@CHARSET "UTF-8";

#gmbImageManager {
    float: right;
    width: 250px;
    overflow: hidden;
    padding-left: 8px;
}

#gmbNumber {
    position: absolute;
    right: 0;
    top: 0;
}

#gmbContainer {
    display: table;
}

#gmbNextLink {
    background-image: url('../../../../../media/mint/icons/16/navigation-000-white.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#gmbPrevLink {
    background-image: url('../../../../../media/mint/icons/16/navigation-180-white.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#gmbNextLink, #gmbPrevLink {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}

#gmbCloseLink {
    position: absolute;
    right: 0px;
    top: 0px;
    border: 2px solid red;
    margin: 0px;
    padding: 0px;
    float: none;
    width: 20px;
    height: 20px;
    background-image: url('../../../../../media/mint/icons/16/cross.png');
    -webkit-border-radius: 11px;
    -khtml-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    background-position: 50% 50%;
}

#leftLink, #rightLink {
    float: left;
    width: 50px;
}

#gmbMedia img {
    vertical-align: middle;
    padding: 10px;
}

#gmbMedia {
    float: left;
    text-align: center;
    vertical-align: middle;
    display: table-cell;

}

#gmbTitle {
    max-height: 120px;
    overflow: hidden;
}

#gmbTitle, #gmbCaption {
    display: block;
    text-align: left;
}

#gmbBottom {
    clear: both;
    text-align: left;
    color: #999;
    min-height: 46px;
    padding: 5px 0 0 0 !important;
    margin: 0px;
    overflow: hidden;
}

#gmbBottom .image-wrapper:hover {
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-transform: scale(1.4) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform: scale(1.4) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform: scale(1.4) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform: scale(1.4) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1.4) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
}

#gmbBottom .image-wrapper {
    display: block;
    float: left;
    margin: 3px 1px !important;
    padding: 0px !important;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #666666;
}

DIV.image-wrapper a {
    text-decoration: none !important;
    background-color: transparent !important;
}

#gmbBottom a, #gmbBottom a:link, #gmbBottom a:visited, #gmbBottom a:hover, #gmbBottom a:active, #gmbBottom a img {
    text-decoration: none !important;
    background: none;
    border: none;
}

#comments_list {
    overflow: auto;
}

#gmbAccordion {
    clear: both;
}

#gmbAccordion a {
    text-decoration: none;
}

#gmbAccordion ul {
    margin: 5px 0 0 0 !important;
    padding: 0px !important;
}

#gmbAccordion ul li {
    list-style-type: none;
    display: block;
    padding: 8px 5px !important;
}

#gmbAccordion ul li .commentUser {
    font-size: 10px;
}

#gmbAccordion ul li .commentText {
    text-align: left;
    font-size: 12px;
}

.image-wrapper-thumb {
    position: absolute;
    display: block;
}

.image-element {
    opacity: 0;
}

.image-wrapper-thumb a:hover {
    text-decoration: none !important;
    background-color: transparent !important;
    border: 0px solid transparent !important;
}

#imageinfo {
    text-align: center;
}

#infopanel {
    overflow: auto;
    overflow-x: hidden;
}

.mainwrap {
    display: block;
}

.delete-comment {
    background-image: url('../../../../../media/mint/icons/16/cross.png');
    float: right;
    display: block;
    width: 16px;
    height: 16px;
}

.delete-comment:HOVER {
    text-decoration: none !important;
    background: url('../../../../../media/mint/icons/16/cross.png') transparent;
}

table.tbl td {
    text-align: left;
    padding: 3px !important;
}

table.tbl td.tblbl {
    text-align: right;
}

#googlemap {
    display: block;
    width: 250px;
    height: 200px;
}

.gallery-avatar {
    float: left;
    margin-right: 10px;
}

#gmbRating {
    position: absolute;
}

#gmbDownload {
    position: absolute;
}

#gmbDescription {
    position: absolute;
    background-color: #000000;
    border-radius: 5px 5px 5px 5px;
    opacity: 0.8;
    padding: 5px !important;
    color: #FFFFFF;
}

#gmbCounter {
    position: absolute;
    font-family: "Trebuchet MS";
    color: #aaa;
    font-size: 0.8em;
    font-weight: bold;
}

#gmbScroll {
    height: 30px;
}

#commentsform {
    display: block;
    height: 80px;
    overflow: hidden;
}

#commentsform #savecommenttext {
    height: 40px;
    display: block;
    font-size: 11px;
    border: 1px solid #ccc;
    margin: 2px;
    width: 93%;
}

#commentsform a {
    font-weight: bold;
    margin-right: 2px;
    text-decoration: none;
    float: right;
    width: 100px;
}

#commentsform a:HOVER {
    background: none repeat scroll 0 0 #095197;
    color: #FFFFFF;
}

