/* New CSS for Joomla 4 */

#joomcckContainer joomla-tab{
    width: 100% !important;
}

.hide{
    display: none;
}

/* End of New CSS for Joomla 4 */

/* maybe this css old css code will removed */
[class^="icon-"], [class*=" icon-"] {
    background-image: none;
}
.cpanel-list a:hover {
    background-color: #f5f5f5;
    text-decoration: none;
}

.cpanel-list a {
    display: block;
    float: left;
    width: 100px;
    border: 1px solid #e9e9e9;
    margin-right: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 80px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
}

.page-header .input-append {
    margin-top: 10px;
}

.arrow {
    margin-left: 8px;
}

.search-box {
    margin-top: 7px;
}

.search-box .form-inline > .btn-group,
.search-box .form-inline > button {
    margin-left: 10px;
}

#list-filters-box .filter-container {
    padding: 20px;
}

