@CHARSET "UTF-8";

.image-wrapper-over1 {
    -moz-transform: scale(1.2) rotate(15deg) translate(20px, 10px) skew(0deg, 0deg);
	-webkit-transform: scale(1.2) rotate(15deg) translate(20px, 10px) skew(0deg, 0deg);
	-o-transform: scale(1.2) rotate(15deg) translate(20px, 10px) skew(0deg, 0deg);
	-ms-transform: scale(1.2) rotate(15deg) translate(20px, 10px) skew(0deg, 0deg);
	transform: scale(1.2) rotate(15deg) translate(20px, 10px) skew(0deg, 0deg);
}

.image-wrapper-over2 {
    -moz-transform: scale(1.2) rotate(-15deg) translate(-20px, 10px) skew(0deg, 0deg);
	-webkit-transform: scale(1.2) rotate(-15deg) translate(-20px, 10px) skew(0deg, 0deg);
	-o-transform: scale(1.2) rotate(-15deg) translate(-20px, 10px) skew(0deg, 0deg);
	-ms-transform: scale(1.2) rotate(-15deg) translate(-20px, 10px) skew(0deg, 0deg);
	transform: scale(1.2) rotate(-15deg) translate(-20px, 10px) skew(0deg, 0deg);
}
.image-wrapper-over3 {
    -moz-transform: scale(1.3) rotate(0deg) translate(0px, -10px) skew(0deg, 0deg);
	-webkit-transform: scale(1.3) rotate(0deg) translate(0px, -10px) skew(0deg, 0deg);
	-o-transform: scale(1.3) rotate(0deg) translate(0px, -10px) skew(0deg, 0deg);
	-ms-transform: scale(1.3) rotate(0deg) translate(0px, -10px) skew(0deg, 0deg);
	transform: scale(1.3) rotate(0deg) translate(0px, -10px) skew(0deg, 0deg);
}
.image-wrapper-thumb {
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
    position: absolute;
}