td.key {
	width: 1%;
}

TEXTAREA{
	width: auto !important;
}
img.calendar {
	vertical-align: top !important;
	margin-left: 3px !important;
}
.params-line {
	clear: both;
	margin-bottom: 8px;
	vertical-align: middle !important;
}
.params-line input,
.params-line select,
table.adminlist td fieldset input,
table.adminlist td fieldset select {
	margin: 0px !important;
	vertical-align: top;
	margin-right: 10px !important;
	clear: none  !important;
	float: none  !important;
}
.params-line label,
table.adminlist td fieldset label {
	clear: none !important;
	float: none !important;
	display: inline  !important;
	margin-right: 10px;
	margin-top: 0px !important;
	font-size: 12px  !important;
	vertical-align: top !important;
	min-width: 250px !important;
}
.params-line fieldset,
table.adminlist td fieldset {
	border: 0px solid white !important;
	margin: 0px !important;
	padding: 0px !important;
	padding-left: 5px !important;
	margin-right: 10px !important;
	background-color: transparent !important;
	display: inline !important;
	vertical-align: middle !important;
}
.params-line fieldset label,
table.adminlist td fieldset label
{
	margin: 0px 5px !important;
}
.params-line fieldset input,
table.adminlist td fieldset input
 {
	margin: 0px 3px !important;
}
.current{
	width: 98% !important;
}